page-ubicacion-final {
  agm-map {
    height: 75%;
  }
  .customLoader {
    .alert-head {
      margin: 0;
      padding-bottom: 0;
      padding-bottom: 13px;
    }
    .alert-message {
      padding-top: 0px;
      padding-bottom: 0;
    }
  }

  .css-itemSelec {
    max-width: 100% !important;
    justify-content: center;
    border: solid 1px #cdced0;
    border-radius: 4px;
    color: rgb(96, 96, 96);
    height: 0px;
    background-color: transparent;
    text-align: center;
  }
  .css-txtAutocomplete {
    max-width: 100% !important;
    justify-content: center;
    border: solid 1px #cdced0;
    border-radius: 4px;
    color: rgb(96, 96, 96);
    height: 0px;
    background-color: transparent;
    text-align: center;
  }
  .getstarUbicacionIn {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .btnContinuar {
    margin: auto;
    display: block;
    max-width: 100%;
    width: 100%;
  }
  .btn-cb {
    background-color: rgba(0, 0, 0, 0);
  }
  .alert-sub-title {
    color: #595959;
    text-align: justify;
    padding: 0;
  }
  .alert-head {
    color: #333333;
    width: 100%;
  }
}
