.getstarContactos {
    display: block;
    margin: 0 auto;
    width: 100%; //height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .btn-cb {
    background-color: rgba(0, 0, 0, 0);
  }