.principal {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
 
.imagenes {
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  height: 150px;
  width: 150px;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  display: inline-block;
}

.padre {
  text-align: center;
  width: 100%;
}

.hijo{
  display: inline-block;
}

.btn-ultimo{
  background-color: #4266AE;
  font-size: 11px;
}