<ion-header>
  <ion-navbar color="colorapp">
    <ion-title style="text-align: center;">
      Confirmación de Paseo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-image: url('assets/imgs/fondo2.png')" class="principal">
  <br>
  <div class="container" style="width: 90%;">
    <form class="form-principal">
      <div>
        <div>
          <div class="col-lg-12 padre">
            <img class="imagenes" [src]="url2">
          </div>
        </div>

        <div class="princ_datos">

          <div class="datos_chofer">
            <ion-item style="padding: 0; margin: 0; ">
              <ion-label style="font-size: 13px; font-weight: bold;">PASEADOR</ion-label>
            </ion-item>

            <hr style="padding: 0; margin: 0; border: 1px;">

            <ion-list style="font-size: 13px; display:flex; width:100%; padding: 0; margin: 0;">
              <ion-item style="float: left; width:100%; background-color: transparent;">
                <div style="width: 30%; font-size: 13px; color: #777777;">
                  <label style="padding: 0; margin: 0;">Nombre:</label>
                </div>
                <div item-content style="text-align: right; float: left; width: 65%; font-size: 13px; color: #777777;">
                  <label style="padding: 0; margin: 0; margin-top: 10px; margin-bottom: 10px;">{{nombreChofer}}</label>
                </div>
              </ion-item>
            </ion-list>
            <hr style="padding: 0; margin: 0;">

            <ion-item-divider style="font-size: 13px; background-color: transparent;">
              Celular:
              <div item-content style="padding-right: 5%;">
                <label>{{celChofer}}</label>
              </div>
            </ion-item-divider>
          </div>

          <div class="datos_General">
            <ion-item style="padding: 0; margin: 0; ">
              <ion-label style="font-size: 13px; font-weight: bold;">DATOS GENERALES</ion-label>
            </ion-item>
            <hr style="padding: 0; margin: 0; border: 1px;">

            <ion-list style="font-size: 13px; background-color: transparent; display:flex; width:100%; margin: 0; padding: 0;">
              <ion-item style="float: left; width:100%; background-color: transparent;">
                <div style="width: 30%; font-size: 13px; color: #777777;">
                  <label style="padding: 0; margin: 0;">Nombre y Raza:</label>
                </div>
                <div item-content style="text-align: right; float: left; width: 65%; font-size: 13px; color: #777777;">
                  <label style="padding: 0; margin: 0; margin-top: 10px; margin-bottom: 10px;">{{raza}}</label>
                </div>
              </ion-item>
            </ion-list>
            <hr style="padding: 0; margin: 0;">

            
            <ion-list style="font-size: 13px; background-color: transparent; display:flex; width:100%; margin: 0; padding: 0;">
              <ion-item style="float: left; width:100%; background-color: transparent;">
                <div style="width: 30%; font-size: 13px; color: #777777;">
                  <label style="padding: 0; margin: 0;">Edad:</label>
                </div>
                <div item-content style="text-align: right; float: left; width: 65%; font-size: 13px; color: #777777;">
                  <label style="padding: 0; margin: 0; margin-top: 10px; margin-bottom: 10px;">{{num_edad}}</label>
                </div>
              </ion-item>
            </ion-list>
            <hr style="padding: 0; margin: 0;">

            <ion-list style="font-size: 13px; background-color: transparent; display:flex; width:100%; margin: 0; padding: 0;">
              <ion-item style="float: left; width:100%; background-color: transparent;">
                <div style="width: 30%; font-size: 13px; color: #777777;">
                  <label style="padding: 0; margin: 0;">Fecha Salida:</label>
                </div>
                <div item-content style="text-align: right; float: left; width: 65%; font-size: 13px; color: #777777;">
                  <label style="padding: 0; margin: 0; margin-top: 10px; margin-bottom: 10px;">{{fechaSalida}}</label>
                </div>
              </ion-item>
            </ion-list>
            <hr style="padding: 0; margin: 0;">

            <ion-list style="font-size: 13px; background-color: transparent; display:flex; width:100%; margin: 0; padding: 0;">
              <ion-item style="float: left; width:100%; background-color: transparent;">
                <div style="width: 30%; font-size: 13px; color: #777777;">
                  <label style="padding: 0; margin: 0;">Hora Recogida:</label>
                </div>
                <div item-content style="text-align: right; float: left; width: 65%; font-size: 13px; color: #777777;">
                  <label style="padding: 0; margin: 0; margin-top: 10px; margin-bottom: 10px;">{{horarioR}}</label>
                </div>
              </ion-item>
            </ion-list>
            <hr style="padding: 0; margin: 0;">

            <ion-list style="font-size: 13px; background-color: transparent; display:flex; width:100%; margin: 0; padding: 0;">
              <ion-item style="float: left; width:100%; background-color: transparent;">
                <div style="width: 30%; font-size: 13px; color: #777777;">
                  <label style="padding: 0; margin: 0;">Hora Entrega:</label>
                </div>
                <div item-content style="text-align: right; float: left; width: 65%; font-size: 13px; color: #777777;">
                  <label style="padding: 0; margin: 0; margin-top: 10px; margin-bottom: 10px;">{{horarioE}}</label>
                </div>
              </ion-item>
            </ion-list>
            <hr style="padding: 0; margin: 0;">

            <ion-list style="font-size: 13px; background-color: transparent; display:flex; width:100%; margin: 0; padding: 0;">
              <ion-item style="float: left; width:100%; background-color: transparent;">
                <div style="width: 30%; font-size: 13px; color: #777777;">
                  <label style="padding: 0; margin: 0;">Precio:</label>
                </div>
                <div item-content style="text-align: right; float: left; width: 65%; font-size: 13px; color: #777777;">
                  <label style="padding: 0; margin: 0; margin-top: 10px; margin-bottom: 10px;">{{precio}}</label>
                </div>
              </ion-item>
            </ion-list>
            <hr style="padding: 0; margin: 0;">

            <!-- <ion-item-divider style="font-size: 13px; background-color: transparent;">
              Precio:
              <div item-content style="padding-right: 5%;">
                <label>$ {{precio}}</label>
              </div>
            </ion-item-divider>
            <hr style="padding: 0; margin: 0;"> -->
          </div>
        </div>
      </div>
    </form>
  </div>


    <ion-row style="margin-left: 1%">
      <ion-col  text-center>
        <!-- <ion-note>Denunciar</ion-note> -->
        <button style="padding: 5%; font-size: 80%"ion-button *ngIf='dirige' (click)="calificar();" color="colorapp">
          <ion-icon name='megaphone'></ion-icon>&nbsp;&nbsp;&nbsp;Denunciar
        </button>
      </ion-col>
      <ion-col  text-center>
        <!-- <ion-note>Pago Online</ion-note> -->
        <button style="padding: 5%; font-size: 80%" ion-button *ngIf='dirige' (click)="confirmarPagoViaje();" color="colorapp">
          <ion-icon name='cash'></ion-icon>&nbsp;&nbsp;&nbsp;Pagar
        </button>
      </ion-col>
      <ion-col  text-center>
        <!-- <ion-note>Pago Online</ion-note> -->
        <button  style=" padding: 5%; font-size: 80%" ion-button *ngIf='dirige' (click)="showAlertCancelar();" color="colorapp">
          <ion-icon name='close'></ion-icon>&nbsp;&nbsp;&nbsp;Cancelar
        </button>
      </ion-col>
    </ion-row>
  </ion-content>
