<div class="row">
  <div class="col-md-12" style="text-align: center; color: #2863a9">
    <h2>Clientes de DOGI
    </h2>
  </div>
  <div class="col-md-12">
    <hr style="background-color: #e9ecef; width: 50%;">
  </div>
</div>


<table class="table  text-left" id="mireportecito">
  <thead>
    <tr style="background-color: #2863a9; align-content: left;">
   
      <th style="color: white" scope="col">Cédula</th>
      <th style="color: white" scope="col">Nombres</th>
      <th style="color: white" scope="col">Correo</th>
      <th style="color: white" scope="col">Celular</th>
      <th style="color: white" scope="col">Convencional</th>
    </tr>
  </thead>

  <tbody *ngFor=" let listado of  messages; let i = index">
    <tr>
      
      <td style="font-size: 130%">{{listado.cedula}}</td>
      <td style="font-size: 130%">{{listado.nombre}} {{listado.apellido}}</td>
      <td style="font-size: 130%">{{listado.correo}}</td>
      <td style="font-size: 130%">{{listado.tel_celular}}</td>
      <td style="font-size: 130%">{{listado.tel_convencional}}</td>
    </tr>
  </tbody>
</table>



<div class="row">
  <div class="col-md-12">
    <hr style="background-color: #e9ecef; width: 50%;">
  </div>
  <div class="col-md-12" style="text-align: center;">
    <button type="button" class="btn btn-success" (click)="GenerarExcel();"><i class="fa fa-fw fa-file-excel-o"></i>
      Generar Reporte en EXCEL</button>
  </div>
</div>