#custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    background-color: #002a3e;
  }
  
  .flb {
    
    height: 100%;
    width: 100%;
    animation: pulse 2s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Aligner-item {
    max-width: 50%;
  }
  
  .Aligner-item--top {
    align-self: flex-start;
  }
  
  .Aligner-item--bottom {
    align-self: flex-end;
  }
  
  #custom-overlay img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  
  .getstart {
    background-color: #d39354;
    opacity: 0.1;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #formLogin {
    position: fixed;
    display: block;
    margin: 0 auto;
    right: 0;
    left: 0%;
    width: 80%;
    height: auto;
    justify-content: center;
  }
  
  #imganeTitulo {
    display: block;
    margin: 0 auto;
    right: 0;
    left: 0;
    height: auto;
  }
  