ion-navbar[hidebackbutton] button[menutoggle] {
    display: block !important;
}

.getstarPrincipal {
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    right: 0;
    left: 0;
   
}