<ion-header>
  <ion-navbar color="colorapp">
    <ion-title>
      Lugar de Salida
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-image: url('assets/imgs/fondo2.png')" class="getstarUbicacionIn">

  <br>

  <ion-item (click)="detectarUbicacionInicio()" class="css-itemSelec">
    <ion-icon name="locate"></ion-icon> Detectar Ubicación
  </ion-item>

  <ion-item class="css-txtAutocomplete">
    <!-- <ion-label floating>Bus.car una dirección específica</ion-label> -->
    <ion-input class="css-inputAutocomplete" id="txtHome" type="text" placeholder="¿Buscas una dirección en específico?" style="text-align: center;justify-content: center;"></ion-input>
  </ion-item>

  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom" [zoomControl]="true" [mapTypeControl]="true"
    (mapClick)="mapClicked($event)" (mapRightClick)="mapClicked($event)" (centerChange)="centrarMapa($event)">

    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" [animation]="animation" (dragEnd)="markerDragEnd($event)">
    </agm-marker>

    <agm-polygon *ngIf="poligonoVer" fillColor="#6E6E6E" [fillOpacity]=0.6 [paths]="paths1" strokeColor="#6E6E6E" [strokeOpacity]="0.6" [strokeWeight]="0"
      [visible]="true" [zIndex]="1" (polyClick)="polygonClicked($event)">
    </agm-polygon>

    <agm-polygon *ngIf="poligonoVer" fillColor="#6E6E6E" [fillOpacity]=0.6 [paths]="paths2" strokeColor="#6E6E6E" [strokeOpacity]="0.6" [strokeWeight]="0"
      [visible]="true" [zIndex]="1" (polyClick)="polygonClicked($event)">
    </agm-polygon>

    <agm-polygon *ngIf="poligonoVer" fillColor="#6E6E6E" [fillOpacity]=0.6 [paths]="paths3" strokeColor="#6E6E6E" [strokeOpacity]="0.6" [strokeWeight]="0"
      [visible]="true" [zIndex]="1" (polyClick)="polygonClicked($event)">
    </agm-polygon>

    <agm-polygon *ngIf="poligonoVer" fillColor="#6E6E6E" [fillOpacity]=0.6 [paths]="paths4" strokeColor="#6E6E6E" [strokeOpacity]="0.6" [strokeWeight]="0"
      [visible]="true" [zIndex]="1" (polyClick)="polygonClicked($event)">
    </agm-polygon>

    <agm-polygon *ngIf="poligonoVer" fillColor="#6E6E6E" [fillOpacity]=0.6 [paths]="paths5" strokeColor="#6E6E6E" [strokeOpacity]="0.6" [strokeWeight]="0"
      [visible]="true" [zIndex]="1" (polyClick)="polygonClicked($event)">
    </agm-polygon>

    <agm-polygon *ngIf="poligonoVer" fillColor="#6E6E6E" [fillOpacity]=0.6 [paths]="paths6" strokeColor="#6E6E6E" [strokeOpacity]="0.6" [strokeWeight]="0"
      [visible]="true" [zIndex]="1" (polyClick)="polygonClicked($event)">
    </agm-polygon>


    <agm-polygon *ngIf="poligonoVer" fillColor="#6E6E6E" [fillOpacity]=0.6 [paths]="paths6_1" strokeColor="#6E6E6E" [strokeOpacity]="0.6" [strokeWeight]="0"
      [visible]="true" [zIndex]="1" (polyClick)="polygonClicked($event)">
    </agm-polygon>

  </agm-map>
  <button ion-button color="colorapp" class="btnContinuar" (click)="irUbicacionFinal()">CONTINUAR</button>
</ion-content>
