<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align: center; color: #2863a9">
      <h3>DETALLES DE SOLICITUD REALIZADA
        <small>(PASEOS)</small>
      </h3>
    </div>
    <div class="col-md-12">
      <hr style="background-color: #e9ecef; width: 50%;">
    </div>
  </div>
  <!-- ************************ INFORMACION DEL CLIENTE ************************ -->
  <!-- ************************ INFORMACION DEL CLIENTE ************************ -->
  <div class="row">
    <i class="fa fa-user fa-2x" style="color: #2863a9"></i>
    <h4 style="color: #2863a9">&nbsp;&nbsp;&nbsp;Información del Cliente</h4>
    <div class="col-md-12">
      <hr style="background-color: #D99350; width: 100%;">
    </div>
  </div>
  <div class="row">
    
    <div class="col-md-2">
      <div class="row">
        <b>Nombre:</b>
      </div>
      <div class="row">
        <b>Apellido:</b>
      </div>
      <div class="row">
        <b>Cédula:</b>
      </div>
      <div class="row">
        <b>Correo:</b>
      </div>
      <div class="row">
        <b>Celular:</b>
      </div>
      <div class="row">
        <b>Convencional:</b>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row">&nbsp;{{viajeRealizadoDetalle.receiver.nombre}} </div>
      <div class="row">&nbsp;{{viajeRealizadoDetalle.receiver.apellido}}</div>
      <div class="row">&nbsp;{{viajeRealizadoDetalle.receiver.cedula}}</div>
      <div class="row">&nbsp;{{viajeRealizadoDetalle.receiver.correo}}</div>
      <div class="row">&nbsp;{{viajeRealizadoDetalle.receiver.tel_celular}}</div>
      <div class="row">&nbsp;{{viajeRealizadoDetalle.receiver.tel_convencional}}</div>
    </div>
    <div class="col-md-4">
      <img src="../assets/img/VerUser.png" style="display: block; margin-left: 36%; height: 144px;">
    </div>
  </div>
  <br>
  <!-- ************************ DETALLE DEL VIAJE ************************ -->
  <!-- ************************ DETALLE DEL VIAJE ************************ -->
  <div class="row">
    <i class="fa fa-briefcase fa-2x" style="color: #2863a9"></i>
    <h4 style="color: #2863a9">&nbsp;&nbsp;&nbsp;Detalle del viaje</h4>
    <div class="col-md-12">
      <hr style="background-color: #D99350; width: 100%;">
    </div>
  </div>
  <div class="row">
    
    <div class="col-md-2">
      <div class="row">
        <b>Mascota-Raza:</b>
      </div>
      <div class="row">
        <b>Horario de recogida:</b>
      </div>
      <div class="row">
        <b>Horario de entrega:</b>
      </div>
      <div class="row">
        <b>Fecha de Salida:</b>
      </div>
      
      <div class="row">
        <b>Precio:</b>
      </div>

      <div class="row">
        <b>Información:</b>
      </div>
      <div class="row">
        <b>Denuncias:</b>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">&nbsp;{{viajeRealizadoDetalle.raza}}</div>
      <div class="row">&nbsp;{{viajeRealizadoDetalle.horarioR}}</div>
      <div class="row">&nbsp;{{viajeRealizadoDetalle.horarioE}}</div>
      <div class="row">&nbsp;{{viajeRealizadoDetalle.fech_salida}}</div>
      <div class="row">&nbsp;{{viajeRealizadoDetalle.precio}} $ (dólares)</div>
      <div class="row">&nbsp;{{viajeRealizadoDetalle.informacion}}</div>
      <div class="row">&nbsp;{{viajeRealizadoDetalle.denuncia}}</div>
    </div>
    <div class="col-md-3">
      <img src="../assets/img/carroSolicitud.png" style="display: block; margin-left: 25%; height: 144px;">
    </div>
  </div>
  <br>
  <!-- ************************ DIRECCIONES EN LOS MAPAS ************************ -->
  <!-- ************************ DIRECCIONES EN LOS MAPAS ************************ -->
  <div class="container" style="text-align: center; align-content: center;">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <i class="fa fa-map-marker fa-lg" style="color: #2863a9"></i>
          <h5 style="color: #2863a9">&nbsp;&nbsp;&nbsp;Dirección de Salida:
            <small>&nbsp;{{viajeRealizadoDetalle.ruta}}</small>
          </h5>
          <div class="col-md-12">
            <hr style="background-color: #b3cb26; width: 100%;">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <agm-map [latitude]="latitud_salida" [longitude]="longitud_salida" [scrollwheel]="true" [zoom]="17"
              [zoomControl]="true" [mapTypeControl]="false">
              <agm-marker [latitude]="latitud_salida" [longitude]="longitud_salida"></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <img src="../assets/img/barraHorizontal.jpg" style="width: 3px; height: 375px; display: block; margin-left: 50%; border-radius: 3px 3px 3px 3px;">
      </div>
      <div class="col-md-5">
        <div class="row">
          <i class="fa fa-map-marker fa-lg" style="color: #2863a9"></i>
          <h5 style="color: #2863a9">&nbsp;&nbsp;&nbsp;Dirección de Llegada:
            <small> {{viajeRealizadoDetalle.ruta}}</small>
          </h5>
          <div class="col-md-12">
            <hr style="background-color: #b3cb26; width: 100%;">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <agm-map [latitude]="latitud_llegada" [longitude]="longitud_llegada" [scrollwheel]="true" [zoom]="17"
              [zoomControl]="true" [mapTypeControl]="false">
              <agm-marker [latitude]="latitud_llegada" [longitude]="longitud_llegada"></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!-- ************************ ASIGNACION DEL CONDUCTOR ************************ -->
  <!-- ************************ ASIGNACION DEL CONDUCTOR ************************ -->
  <div class="row">
    <i class="fa fa-male fa-2x" style="color: #2863a9"></i>
    <h4 style="color: #2863a9">&nbsp;&nbsp;&nbsp;Detalles del Conductor</h4>
    <div class="col-md-12">
      <hr style="background-color: #b3cb26; width: 100%;">
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <img src="../assets/img/barraHorizontal.jpg" style="width: 5px; height: 144px; display: block; margin-left: 75%; border-radius: 3px 3px 3px 3px;">
    </div>
    <div class="col-md-2">
      <div class="row">
        <b>Nombre:</b>
      </div>
      <div class="row">
        <b>Apellido:</b>
      </div>
      <div class="row">
        <b>Cédula:</b>
      </div>
      <div class="row">
        <b>Correo:</b>
      </div>
      <div class="row">
        <b>Celular:</b>
      </div>
      <div class="row">
        <b>Convencional:</b>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row">&nbsp;{{viajeRealizadoDetalle._id_chofer.nombre}} </div>
      <div class="row">&nbsp;{{viajeRealizadoDetalle._id_chofer.apellido}}</div>
      <div class="row">&nbsp;{{viajeRealizadoDetalle._id_chofer.cedula}}</div>
      <div class="row">&nbsp;{{viajeRealizadoDetalle._id_chofer.correo}}</div>
      <div class="row">&nbsp;{{viajeRealizadoDetalle._id_chofer.tel_celular}}</div>
      <div class="row">&nbsp;{{viajeRealizadoDetalle._id_chofer.tel_convencional}}</div>
    </div>
    <div class="col-md-4">
      <img src="../assets/img/IngresarChofer.png" style="display: block; margin-left: 36%; height: 144px;">
    </div>
  </div>
  <br>
  <!-- ************************ ASIGNACION DEL TAXI ************************ -->
  <!-- ************************ ASIGNACION DEL TAXI ************************ -->
 
  

  <br>

  <div class="col-md-12" style="text-align: center;">&nbsp;Asignado por: {{viajeRealizadoDetalle.emitter.nombre}} {{viajeRealizadoDetalle.emitter.apellido}}  </div>
  <!-- ************************ BOTONES DE CANCELAR ************************ -->
  <!-- ************************ BOTONES DE CANCELAR ************************ -->
  <div class="row">
    <div class="col-md-12">
      <hr style="background-color: #e9ecef; width: 50%;">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <button type="button" class="btn btn-danger" (click)="cancelarViaje();">Cancelar Viaje</button>
    </div>
  </div>
  <br>
</div>