.getstarContactos {
    display: block;
    margin: 0 auto;
    width: 100%; //height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .Aligner-item {
    max-width: 50%;
  }
  
  .Aligner-item--top {
    align-self: flex-start;
  }
  
  .Aligner-item--bottom {
    align-self: flex-end;
  }

input[placeholder] {
    color: #020202;
}

#padre {
    display: flex;
    justify-content: center;
    align-items: center;
 }

#imganeTitulo {
    display: block;
    margin: 0 auto;
    right: 0;
    left: 0;
    height: auto;
  }