<!-- EL HEADER NO VA EN ANDROID -->
 <ion-header>
    <ion-navbar color="colorapp">
      <ion-title >Registro</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding style="background-image: url('assets/imgs/Registro.png')" class="getstar">
  <!-- ESTO ACTIVAR PARA ANDROID  
    <button (click)="goBack();" style="border:0;" class="back-button disable-hover bar-button bar-button-md back-button-md bar-button-default bar-button-default-md show-back-button">
    <ion-icon style="font-size: 190%; color: #4266AE;" name="arrow-back"></ion-icon>
  </button>   -->
  <!-- HASTA AQUI  -->


  <div class="Aligner-item Aligner-item--top"></div>

  
  <label class=" form-control fileContainer" style="border: none; ">
    <img id="imganeTitulo" [src]="url2" style="display: block; width: 40%; ">
    <input type='file' id="nuestroinput" class="btn btn-primary" (change)="readUrl($event)" />
    <p id="Titulo">Seria genial una foto con tus mascotas</p>
  </label>
  <div class="Aligner-item Aligner-item--bottom"></div>

  <form #FormularioRegistro="ngForm" id="formRegistro">
    <div id="formRegister">
      <div style="top:0; bottom: 0;" class="item item-block">

        <ion-grid>
          <ion-row>
            <ion-item >
              <ion-icon item-left style="  max-width:10%; margin-top:3%; margin-bottom:0; margin-right:0% ">
                <img style=" max-width:90%;left: 0;right: 0; " src="assets/imgs/registroNombre.png">
              </ion-icon>
              <ion-input id="A1" type="text" [(ngModel)]="user_register.nombre" name="nombres" #nombres="ngModel" placeholder="Nombres" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*"
                required></ion-input>
              <!-- (keyup)="convertirMayuscula(user_register.nombre)"  -->
            </ion-item>
            <ion-item *ngIf="nombres.errors && (nombres.dirty || nombres.touched)">
              <ion-icon name="alert" item-start color="danger"></ion-icon>
              <p ion-text color="danger" [hidden]="!nombres.errors.pattern">Ingrese sólo caracteres alfabéticos</p>
              <p ion-text color="danger" [hidden]="!nombres.errors.required">Campo requerido</p>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-icon item-left style="  max-width:10%; margin-top:3%; margin-bottom:0; margin-right:0% ">
                <img style=" max-width:90%;left: 0;right: 0; " src="assets/imgs/registroNombre.png">
              </ion-icon>
              <ion-input id="A1" placeholder="Apellidos" #apellidos="ngModel" [(ngModel)]="user_register.apellido" name="apellidos" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ  ]*"
                required></ion-input>
            </ion-item>
            <ion-item *ngIf="apellidos.errors && (apellidos.dirty || apellidos.touched)">
              <ion-icon name="alert" item-start color="danger"></ion-icon>
              <p ion-text color="danger" [hidden]="!apellidos.errors.pattern">Ingrese sólo caracteres alfabéticos</p>
              <p ion-text color="danger" [hidden]="!apellidos.errors.required">Campo requerido</p>
            </ion-item>
          </ion-row>

          <ion-row>
            <ion-item>
              <ion-icon item-left style="  max-width:10%; margin-top:3%; margin-bottom:0; margin-right:0% ">
                <img style=" max-width:90%;left: 0;right: 0; " src="assets/imgs/cedulaRegistro.png">
              </ion-icon>

              <ion-input id="A1"  placeholder="Cédula/DNI" #cedula="ngModel" [(ngModel)]="user_register.cedula" name="cedula"  digits 
                ></ion-input>
            </ion-item>
            

          </ion-row>

          <ion-row>
            <ion-item>

              <ion-icon item-left style="  max-width:10%; margin-top:3%; margin-bottom:0; margin-right:0% ">
                <img style=" max-width:90%;left: 0;right: 0; " src="assets/imgs/correroRegistro.png">
              </ion-icon>

              <ion-input id="A1"  placeholder="Correo" #correo="ngModel" [(ngModel)]="user_register.correo" name="correo" required email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></ion-input>
            </ion-item>
            <ion-item *ngIf="correo.errors && (correo.dirty || correo.touched)">
              <ion-icon name="alert" item-start color="danger"></ion-icon>
              <p ion-text color="danger" [hidden]="!correo.errors.required">Campo requerido &nbsp;</p>
              <p ion-text color="danger" [hidden]="!correo.errors.email">Correo inválido</p>
              <p ion-text color="danger" [hidden]="!correo.errors.pattern">Caracteres invalidos</p>
            </ion-item>
          </ion-row>


          <ion-row>
            <ion-item>
              <ion-icon item-left style="  max-width:10%; margin-top:3%; margin-bottom:0; margin-right:0% ">
                <img style=" max-width:90%;left: 0;right: 0; " src="assets/imgs/contrasenaRegistro.png">
              </ion-icon>
              <ion-input id="A1"  type="password" placeholder="Contraseña" #contrasena="ngModel" [(ngModel)]="user_register.contrasena" name="contrasena"
                required minlength="6"></ion-input>
            </ion-item>
            <ion-item *ngIf="contrasena.errors && (contrasena.dirty || contrasena.touched)">
              <ion-icon name="alert" item-start color="danger"></ion-icon>
              <p ion-text color="danger" [hidden]="!contrasena.errors.required">Campo requerido &nbsp;</p>
              <p ion-text color="danger" [hidden]="!contrasena.errors.minlength">Contraseña minima de 6 caracteres</p>
            </ion-item>
          </ion-row>

          <ion-row>
            <ion-item>
              <ion-icon item-left style="  max-width:10%; margin-top:3%; margin-bottom:0; margin-right:0% ">
                <img style=" max-width:90%;left: 0;right: 0; " src="assets/imgs/contrasenaRegistro.png">
              </ion-icon>
              <ion-input id="A1"  type="password" placeholder="Confirmar Contraseña" #confirmContrasena="ngModel" [(ngModel)]="verificarPassword"
                name="confirmContrasena" required [equalTo]="contrasena"></ion-input>
            </ion-item>
            <ion-item *ngIf="confirmContrasena.errors && (confirmContrasena.dirty || confirmContrasena.touched)">
              <ion-icon name="alert" item-start color="danger"></ion-icon>
              <p ion-text color="danger" [hidden]="!confirmContrasena.errors.required">Campo requerido &nbsp;</p>
              <p ion-text color="danger" [hidden]="!confirmContrasena.errors.equalTo">La contraseña no coincide</p>
            </ion-item>
          </ion-row>

          <ion-row>
            <ion-item>
              <ion-icon item-left style="  max-width:10%; margin-top:3%; margin-bottom:0; margin-right:0% ">
                <img style=" max-width:90%;left: 0;right: 0; " src="assets/imgs/telefonoCelRegistro.png">
              </ion-icon>
              <ion-input id="A1"  placeholder="Celular" #telefonoCel="ngModel" [(ngModel)]="user_register.tel_celular" name="telefonoCel" required
                digits pattern="[0-9]*" minlength="10" maxlength="10"></ion-input>
            </ion-item>
            <ion-item *ngIf="telefonoCel.errors && (telefonoCel.dirty || telefonoCel.touched)">
              <ion-icon name="alert" item-start color="danger"></ion-icon>
              <p ion-text color="danger" [hidden]="!telefonoCel.errors.pattern">Ingrese sólo números</p>
              <p ion-text color="danger" [hidden]="!telefonoCel.errors.minlength">Ingrese una número válido</p>
              <p ion-text color="danger" [hidden]="!telefonoCel.errors.required">Campo requerido</p>
            </ion-item>
          </ion-row>

          <ion-row>
            <ion-item>
              <ion-icon item-left style="  max-width:10%; margin-top:3%; margin-bottom:0; margin-right:0% ">
                <img style=" max-width:90%;left: 0;right: 0; " src="assets/imgs/telefonoCelRegistro.png">
              </ion-icon>
              <ion-input id="A1"  placeholder="Convencional" #convencional="ngModel" [(ngModel)]="user_register.tel_convencional" name="convencional"
                 digits pattern="[0-9]*" minlength="6" maxlength="10"></ion-input>
            </ion-item>
            <ion-item *ngIf="convencional.errors && (convencional.dirty || convencional.touched)">
              <ion-icon name="alert" item-start color="danger"></ion-icon>
              <p ion-text color="danger" [hidden]="!convencional.errors.pattern">Ingrese sólo números</p>
              <p ion-text color="danger" [hidden]="!convencional.errors.minlength">Ingrese un número válido</p>
             
            </ion-item>
          </ion-row>
        </ion-grid>
      </div>
      <br>
      <button (click)="onRegister()" style="max-width: 100%; padding:0%; position:relative"><img src="assets/imgs/btnRegistro.png"
        /></button>
    </div>
  </form>

</ion-content>